
body{
  margin: 0;
  height: 100%;
}

/* header */

.header__top{
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight: bold;
color: black;
background-color: white;
padding: 25px 0 10px 0;
}

.header__bottom {
  min-height: 50px;
  background: #ffbe76;
  padding: 20px;
  color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.header__bottom .header__logo{
  margin-left: 30px;
}

.header__bottom .search {
  margin-left: 1%;
}

.header__bottom .search input {
  width: 200px;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  background: white;
  color: #181818;
  padding: 8px;
  outline: none;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5px;
  transition: all 0.1s;
}

.header__bottom .search input:focus {
  width: 400px;
  padding: 13px;
  font-size: 13px;
}

.header__bottom .user {
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__bottom .user__info{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 7px 15px;
    background-color: white;
    cursor: pointer;
}

.header__bottom .user__info img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

.header__bottom .user__info__name{
    margin-left: 10px;
}

.header__bottom .user__actions{
    position: absolute;
    margin-top: 120px;
    display: none;
}

.header__bottom .user:hover .user__actions{
  display: block;
}

.header__bottom .user__actions button {
  background: none;
  border: none;
}
.header__bottom .user__actions .dropdown-menu {
  background: #282828;
  margin-top: 25px;
  border-radius: 2px;
  padding: 0;
  border: none;
  list-style: none;
}

.header__bottom .user__actions .dropdown-menu a {
  color: #aaaaaa;
  transition: all 0.2s ease;
  text-decoration: none;
}
.header__bottom .user__actions .dropdown-menu a:hover {
  background: none;
  transition: all 0.2s ease;
}
.header__bottom .user__actions .dropdown-menu li {
  padding: 10px;
  margin: 0;
  transition: all 0.2s ease;
}
.header__bottom .user__actions .dropdown-menu li:hover {
  background: #aaaaaa;
  transition: all 0.2s ease;
}
.header__bottom .user__actions .dropdown-menu li:hover a {
  color: #c8c8c8;
  transition: all 0.2s ease;
}

/* 카테고리 */

.category{
  background: #f0932b;
  padding: 20px;
}

.category ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.category ul li{
  color: white;
}

.category ul li a {
  text-decoration: none;
}

.category ul li a:link {
  color: white;
}

.category ul li a:visited {
  color: white;
}

/* 비디오 배경 */

main .bg-box{
  width: 100%;
  height: calc(100vh - 240px);
  overflow: hidden;
  margin: 0px auto; 
  position: relative;
}

main .bg-box video { 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  filter: blur(4px); 
  transform: scale(1.02);
}
main .bg-text { 
  position: absolute; 
  top: 20%; 
  width: 100%; 
}
main .bg-text p {
  text-align: center; 
  font-size: 48px; 
  color: #ffffff; 
}

/* footer */

footer {
  background: #222;
  color: #aaa;
  padding-top: 10px;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
 overflow: hidden;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}

/* 드롭다운 메뉴 */

.dropdown-wrapper {
  position: absolute;
  top: 75%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 96px;
  z-index: 4;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  margin-top: .5rem;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.08), 0 2px 4px 0 rgba(50, 50, 93, 0.05), 0 4px 8px 0 rgba(136, 152, 170, 0.08);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  visibility: hidden;
}
.dropdown-wrapper.active {
  top: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.dropdown-profile-details {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

.dropdown-profile-details--name {
  font-size: 1.75rem;
  margin-bottom: 0;
  font-weight: 600;
}

.dropdown-profile-details--email {
  font-size: 1.2rem;
  color: #6f6f6f;
}

.dropdown-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 1.5rem;
}
.dropdown-links a {
  color: #525F7F;
  text-decoration: none;
  padding-bottom: 1rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.dropdown-links a:hover {
  color: #ebeff5;
}
.dropdown-links a:last-of-type {
  padding-bottom: 0;
}


/* 채팅버튼 */

.chat__btn{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: black;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}

.chat__btn p{
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}