@font-face {
  font-family: "paybooc-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoyangIlsan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GoyangIlsan";
}

.faq__main {
  display: flex;
}

/* site path */

.site__path {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.site__path p {
  font-weight: 600;
  font-size: 14px;
  text-decoration: underline;
  color: #222222;
  margin-bottom: 0;
}

.site__path p a:link {
  color: #222222;
}

.site__path p a:visited {
  color: #222222;
}

.site__path p a:hover {
  color: #222222;
}

.site__path p:last-child {
  font-weight: lighter;
  text-decoration: none;
}

.site__path i {
  color: #b0b0b0;
  font-size: 12px;
}

/* 왼쪽 사이드 박스 */

.faq__side {
  width: 100%;
  height: auto;
}

.faq__side p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0.5em;
}

.faq__side ul {
  list-style: none;
  padding-left: 18px;
  line-height: 30px;
  font-weight: 400;
  font-size: 14px;
}

/* li active 부분 */

.faq__side ul .active {
  font-weight: bold;
}

.faq__side ul .active::before {
  content: "";
  width: 3px;
  height: 20px;
  position: absolute;
  left: 22px;
  margin-top: 4px;
  background-color: black;
}

/* li 부분 */

.faq__side ul li a:link {
  color: #222222;
  text-decoration: none;
}
.faq__side ul li a:visited {
  color: #222222;
  text-decoration: none;
}
.faq__side ul li a:hover {
  color: #222222;
  text-decoration: underline;
}

/* 우측 컨텐트 박스 */

.faq__content .content__title p {
  font-weight: bold;
  font-size: 25px;
  color: #484848 !important;
}

.faq__content .content_text p {
  color: rgb(72, 72, 72) !important;
}

.faq__content .card-body {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

/* 컨텐트 박스 하단 레포트 버튼 */

.report__box {
  margin-bottom: 0;
}
