<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form action="add" method="post">
    이름: <input type="text" name="name"><br>
    이메일: <input type="email" name="email"><br>
    비밀번호: <input type="password" name="pwd"><br>
    우편번호: <input type="text" name="pst"><br>
    기본주소: <textarea name="addr" cols="20" rows="10"></textarea><br>
    상세주소: <textarea name="det_addr" cols="20" rows="10"></textarea><br>

    계정상태: <input type="text" name="status"><br>
    권한: <input type="text" name="auth"><br>

    전화번호: <input type="text" name="tel"><br>
    생일: <input type="text" name="birth"><br>
    사진: <input type="text" name="uphoto"><br>
    <button>등록</button>
    
   
</form>
</body>
</html>






